.nav {
   display: grid;
   grid-template-columns: max-content 1fr;
   gap: 20px;
   height: 55px;
   place-content: center;
   

   form {
      height: 40px;
      border-radius: 7px;
      border: 1px solid rgb(216, 216, 216);
      box-sizing: border-box;


   }

   a {
      display: flex;
      place-items: center;
      text-decoration: none;
      color: black;
   }

   margin-bottom: 20px;
}



#nav-search {
   border: none;
   border-radius: 7px;
   width: 100%;
   height: 100%;
   padding: 0 10px;

}


#nav-games {
   background-color: rgb(35, 35, 35);
   color: white;
   border-radius: 7px;
   justify-content: center;
}

